<div id="data">
	<input type="button" value="Surprise!" onclick="toggleDisplay()">
	<input type="button" value="New Population" onclick="cw_resetPopulation()">
	<div>
		Create new world with seed:
		<input type="text" value="Enter any string" id="newseed">
		<input type="button" value="Go!" onclick="cw_confirmResetWorld()">
	</div>
	<div id="generation"></div>
	<div id="population"></div>
	<div id="distancemeter"></div>
	<input type="button" value="Watch Leader" onclick="cw_setCameraTarget(-1)">
	<div id="health">
		<div name="healthbar" class="healthbar" onclick="cw_setCameraTarget(this.car_index)">
			<div name="health" class="health" id="health19" style="background-color: rgb(204, 68, 68); width: 0px;"></div>
			<div name="healthtext" class="healthtext">&#9760;</div>
		</div>
	</div>
	<div id="cars"></div>
</div>