@import "shared/colors";
#graphholder{
	display:none;
	position: relative;
	.scale {
		position: absolute;
		left: 405px;
		font-size: 9px;
	}
	#s0 { top: 200px; }
	#s25 { top: 150px; }
	#s50 { top: 100px; }
	#s75 { top: 50px; }
	#s100 { top: 0px; }
	#graphcanvas {
		border: 1px solid black;
	}
	#topscoreholder {
		width: 300px;
		height: 400px;
		position: absolute;
		top: 420px;
		left: 445px;
		font-size: 11px;
	}
}